<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App-Gastos</title>
  <script src="./public/script.js"></script>
  <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
  <main>
    <main>
      <header>
        <button>Switch</button>
        <button>Bar</button>
      </header>
      <span>
        <h3>Saldo actual</h3>
        <h1 class="price" style="font-size:var(--bigger-text)">+$367,20</h1>
      </span>
      <section id="groups" class="groups-section">
        <header><h3>Your groups</h3></header>
      </section>
    </main>
  </main>
</body>
</html>