<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Group Page</title>
  <link rel="stylesheet" href="/public/group-page-styles.css">
</head>
<body>
  <div class="wrapper">
    <header>
      <a href="/" class="link medium-text">App-gastos</a>
    </header>
    <main>
        <header id="group-header" class="saldo-header big-text"> <%= data.name %> </header>
        <div class="balances">
          <ul class="members-list">
            <% data.users.forEach((user) => { %>
              <li class="member">
              <figure class="figure">
                <% if(user.balance > 0){ %>
                  <div class="balance balance-positive medium-text">
                    <p><%= user.balance %></p>
                  </div>
                <% } else{ %>
                  <div class="balance balance-positive medium-text">
                    <p><%= user.balance %></p>
                  </div>
                <% } %>
              </figure>
            </li> 
           <% }) %>
            <!-- <li class="member">
              <figure class="figure">
                <div class="balance balance-negative medium-text">
                  <p>-$183,6</p>
                </div>
              </figure>
            </li> 
            <li class="member">
              <figure class="figure">
                <div class="balance balance-positive medium-text">
                  <p>-$183,6</p>
                </div>
              </figure>
            </li> 
            <li class="member">
              <figure class="figure">
                <div class="balance balance-negative medium-text">
                  <p>-$183,6</p>
                </div>
              </figure>
            </li>  -->
          </ul>
    </main>
    <footer class="balances-footer">
      <div class="tu-balance medium-text">
        <p>Tu balance</p>
        <p style="color: var(--dark-green);">+$198,25</p>
      </div>
      <div class="balance-total medium-text">
        <p>Tu balance</p>
        <p style="color: var(--dark-green);">+$198,25</p>
      </div>
    </footer>
  </div>
</body>
</html>