html{
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: system-ui;
}

.container{
  display: grid;
  height: calc(100% - 20px);
  grid-template: 60px 1fr 90px / 1fr 1fr 1fr;
  place-content: center;
  gap: 10px;
  padding: 10px 20px;
}

.item1{
  grid-area: 1 / 1 / 2 / 4;
}
.item2{
  grid-area: 2 / 1 / 3 / 4;
}
.item3{
  grid-area: 3 / 1 / 4 / 4;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.page-logo{
  font-weight: bolder;
  font-size: 1.5rem;
}

.main{
  display: flex;
  gap: 10px;
  flex-flow: column nowrap;
  align-items: center;
}

.main > *{
  flex: 1 1 0;
}

.title{
  font-weight: 900;
  font-size: 3rem;
  color: transparent;
  background: linear-gradient(180deg, black, grey);
  background-clip: text;
  -webkit-background-clip: text;
}

.members-list{
  flex-grow: 6;
  padding: 0;
  width: 100%;
  overflow: auto;
}


li{
  list-style-type: none;
}
.member{
  height: 80px;
  margin: 40px 0;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  position: relative;
}
.person-balance{
  position: absolute;
  right: 30px;
}
.person-name{
  font-weight: bold;
}

.profile-picture{
  border-radius: 50%;
  margin: 0;
  background-color: beige;
  width: 60px;
  height: 60px;
  background: url("https://media.istockphoto.com/id/1300972574/photo/millennial-male-team-leader-organize-virtual-workshop-with-employees-online.jpg?b=1&s=170667a&w=0&k=20&c=96pCQon1xF3_onEkkckNg4cC9SCbshMvx0CfKl2ZiYs=");
  background-position: center;
  background-size: cover;
}

.footer{
  border-top: 2px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  line-height: 0.7em;
}

.balance-positive{
  color: rgb(58, 193, 58);
  font-weight: bold;
}