html{ 
  font-size: 67.5%;
}

.dark{
  background: #1f1f1f;
  color: white;
}

.bigger-text{
  font-size: 5em;
  font-weight: bolder;
}
.big-text{
  font-size: 2.2em;
  font-weight: bold;
}
.medium-text{
  font-size: 1.5em;
  font-weight: bold;
}

.normal-text{
  font-size: 1.3em;
}

*{
  box-sizing: border-box;
  font-family: system-ui;
}

.theme-switch{
  display: flex;
  align-items: center;
  width: 55px;
  height: 30px;
  border-radius: 20px;
  padding: 3px;
  background-color: rgb(159, 159, 159);
}
.switch-on{
  justify-content: flex-end;
  position: relative;
}
.switch-on::after{
  content: "🌔"; 
  position: absolute;
  font-size: 20px;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
}

.switch-off{
  justify-content: flex-start;
  position: relative;
}
.switch-off::after{
  content: "🌞"; 
  position: absolute;
  font-size: 20px;
  left: 60px;
  top: 0;
}

.link{
  text-decoration: none;
  color: black;
}

.circle{
  border-radius: 50%;
  width: 24px;
  height:24px;
  background-color: white;
}

.wrapper{
  padding: 0px 20px;
}
.wrapper > *{
  flex: 1 0 100%;
}

.main{
  display: flex;
  flex-flow: row wrap;
  row-gap: 40px;
}

.main > *{
  flex: 1 0 100%;
}

.saldo-section{
  text-align: center;
}

.saldo{
  font-weight: bolder;
  color: transparent;
  background: rgb(3, 185, 3);
  background-clip: text;
  -webkit-background-clip: text;
}

.grupos-section{
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.grupo{
  flex: 1 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 30px;
  gap: 20px;
  color: white;
  background:linear-gradient(180deg, black, rgb(80, 80, 80));
  border: 2px solid white;
  height: 130px;
  border-radius: 20px;
  align-items: baseline;
}
.grupos-section > header{
  flex: 1 100%;
}

.parte-grupo{
  flex: 1 0px;
  display: flex;
  flex-flow: row wrap;
}
.izquierda-grupo1{
  justify-content: start;
  text-align: left;
}
.derecha-grupo{
  justify-content: end;
  text-align: right;
}

@media (min-width:600px){
  .grupos-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "title title "
    "content content"
  }

  .grupos-section header{
    grid-area: title;
  }
}

@media (min-width:1024px){
  .grupos-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "title title title"
    "content content content"
  }

  .grupos-section header{
    grid-area: title;
  }
  
  .grupo{
    height: 200px;
  }
}